.btn-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content; /* Ограничиваем высоту контейнера */
}

.btn-grid .btn {
    flex: 0 0 auto; /* Предотвращаем растягивание кнопок */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr; /* Три колонки */
    gap: 1px;
    background-color: rgba(0,0,0,.125);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; /* Скругление углов */
    overflow: hidden; /* Чтобы скругление углов работало корректно */
}

.grid-header {
    display: contents; /* Заголовки будут частью grid-контейнера */
}

.grid-header > div {
    background-color: #e9ecef;
    padding: 8px;
    font-weight: bold;
    text-align: left;
    border: 1px rgba(0,0,0,.125);
    position: sticky; /* Заголовки будут прилипать при прокрутке */
    top: 0; /* Прилипание к верхней части контейнера */
    z-index: 1; /* Заголовки поверх контента */
}

.grid-body {
    display: contents; /* Данные будут частью grid-контейнера */
}

.grid-row {
    display: contents; /* Каждая строка будет частью grid-контейнера */
}

.grid-row > div {
    padding: 8px;
    border: 1px rgba(0,0,0,.125);
    background-color: white;
    text-align: left;
}

.grid_production-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 4fr 4fr 2fr 4fr 1fr 1fr 1fr; /* 10 колонок */
    gap: 1px;
    background-color: rgba(0,0,0,.125);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; /* Скругление углов */
    overflow: hidden; /* Чтобы скругление углов работало корректно */
}

.grid_production-header {
    display: contents; /* Заголовки будут частью grid-контейнера */
}

.grid_production-header > div {
    background-color: #e9ecef;
    padding: 8px;
    font-weight: bold;
    text-align: left;
    border: 1px rgba(0,0,0,.125);
    position: sticky; /* Заголовки будут прилипать при прокрутке */
    top: 0; /* Прилипание к верхней части контейнера */
    z-index: 1; /* Заголовки поверх контента */
}

.grid_production-body {
    display: contents; /* Данные будут частью grid-контейнера */
}

.grid_production-row {
    display: contents; /* Каждая строка будет частью grid-контейнера */
}

.grid_production-row > div {
    padding: 8px;
    border: 1px rgba(0,0,0,.125);
    background-color: white;
    text-align: left;
}

.grid_quality_control-container {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr 4fr 1fr; /* 6 колонок */
    gap: 1px;
    background-color: rgba(0,0,0,.125);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; /* Скругление углов */
    overflow: hidden; /* Чтобы скругление углов работало корректно */
}

.grid_quality_control-header {
    display: contents; /* Заголовки будут частью grid-контейнера */
}

.grid_quality_control-header > div {
    background-color: #e9ecef;
    padding: 8px;
    font-weight: bold;
    text-align: left;
    border: 1px rgba(0,0,0,.125);
    position: sticky; /* Заголовки будут прилипать при прокрутке */
    top: 0; /* Прилипание к верхней части контейнера */
    z-index: 1; /* Заголовки поверх контента */
}

.grid_quality_control-body {
    display: contents; /* Данные будут частью grid-контейнера */
}

.grid_quality_control-row {
    display: contents; /* Каждая строка будет частью grid-контейнера */
}

.grid_quality_control-row > div {
    padding: 8px;
    border: 1px rgba(0,0,0,.125);
    background-color: white;
    text-align: left;
}

.active-row > div {
    background-color: #86b7fe !important;
}

.grid_info-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 3fr; /* 4 колонки */
    gap: 1px; /* Расстояние между ячейками */
    background-color: #f8f9fa; /* Цвет фона */
    border: 1px rgba(0,0,0,.125); /* Граница контейнера */
}

.grid_info-header {
    background-color: #e9ecef; /* Цвет фона заголовков */
    padding: 8px;
    font-weight: bold;
    text-align: left;
    border: 1px solid rgba(0,0,0,.125); /* Граница ячеек */
    border-radius: .25rem; /* Скругление углов */
    overflow: hidden; /* Чтобы скругление углов работало корректно */
}

.grid_info-cell {
    padding: 8px;
    border: 1px solid rgba(0,0,0,.125); /* Граница ячеек */
    border-radius: .25rem; /* Скругление углов */
    overflow: hidden; /* Чтобы скругление углов работало корректно */
    background-color: white; /* Цвет фона ячеек */
    text-align: left;
}
h4 {
  margin: 0; /* Убираем стандартные отступы */
}

.small-text {
  font-size: 14px; /* Меньший размер шрифта */
  margin-left: 4px; /* Отступ между основным текстом и дополнительным */
}